body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}
.calculator{
    
    height: 70%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 10px;
    width: 260px;
    margin: 0 auto;
}
.container{
    border: 2px solid lightblue;
    text-align: center;
    width: 350px;
}
button{
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    
}
#result{
    height: 50px;
    width: 260px;
    font-size: 20px;
    margin: 2px;
    text-align: right;
}
.satyam{
    background-color: orange;
}
button {
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background: #f0f0f0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

button:active {
  background: grey;
}
button:hover {
  background: red;
}